rich~=13.9.4
loguru~=0.7.3
pydantic~=2.10.4
python-dotenv~=1.0.1
notion-client~=2.3.0
google-cloud-aiplatform~=1.75.0
openai~=1.59.3
protobuf~=5.29.2
anthropic~=0.42.0
pytest~=8.3.4
pyperclip~=1.9.0
streamlit~=1.41.1
setuptools~=75.6.0